In [1]:
num=[20,21,22,23,24,25,26,27,28]

In [2]:
for y in num:
    print(y)

20
21
22
23
24
25
26
27
28

In [3]:
num01=[30,31,32,33,34,35,36,37,98,38,39,40,42,41]

In [4]:
for num in num01:
    if num%2 == 0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
98 is even
38 is even
39 is odd
40 is even
42 is even
41 is odd

In [5]:
for num in num01:
    if num/2 == 0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

30 is odd
31 is odd
32 is odd
33 is odd
34 is odd
35 is odd
36 is odd
37 is odd
98 is odd
38 is odd
39 is odd
40 is odd
42 is odd
41 is odd

In [6]:
for _ in 'nivash':
    print("hi")

hi
hi
hi
hi
hi
hi

In [7]:
list01 =[(1,2),(1,3),(1,5),(1,4),(1,6),(1,7)]

In [8]:
for item in list01:
    print(item)

(1, 2)
(1, 3)
(1, 5)
(1, 4)
(1, 6)
(1, 7)

In [9]:
for a,b in list01:
    print(a)
    print(b)

1
2
1
3
1
5
1
4
1
6
1
7

In [10]:
a={1:"hi", 2:"da", 3:"hayes"}

In [11]:
for item in a:
    print(item)

1
2
3

In [12]:
for item in a . items():
    print(item)

(1, 'hi')
(2, 'da')
(3, 'hayes')

In [13]:
for key,val in a.items():
    print(val)

hi
da
hayes

In [14]:
for key,val in a.items():
    print(key)

1
2
3

# WHILE LOOP

In [15]:
n = input("Enter the number:")
val = 0
i = 0

while i <= int(n):
    val += i
    i += 1
    
print(f" the sum is {val}")

Enter the number:9
 the sum is 45

In [16]:
counter = 0

while counter < 3:
    print("inside loop")
    counter = counter + 1
else:
    print("Inside else")

inside loop
inside loop
inside loop
Inside else

In [17]:
digits = [0,1,5]

for i in digits:
    print(i)
else:
    print("hi")

0
1
5
hi

In [18]:
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

In [19]:
count = 0
while True:
    print(count)
    count += 1
    if count >= 20:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [20]:
count = 0
while True:
    print(count)
    count += 1
    if count >= 33:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32